


/*BANNER*/

.banner {
	background-image: url(../images/hero-finance-640x360.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	min-height: 500px;
	position: relative;
}

.banner-bg {
	background-image: url(../images/over-hero-banner.png);
	height: 500px;
	background-repeat: no-repeat;
}

.banner-text {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	margin-left: 60px;
}

.banner-text-title{
	font-size: 2.12em;
	margin: 0px;

}

.banner-text-text{
	font-size: 1.12em;
}

.banner-text-contentButtons {
	display: flex;
}

.banner-text-contentButtons .button {
	margin-right: 8px;
	padding: 18px 30px;
	color: #006699;
	font-size: 1.06em;
	min-width: 250px;
}
.banner-text-contentButtons .button span{
	font-size: 1.3em;
	margin-left: 25px;
	position: relative;
	top: 3px;
}

.banner-text-contentLinks {
	display: flex;
}
.banner-text-contentLinks .iconOne{
	position: relative;
	font-size: 1.3em;
	top: 45px;
	right: 70px;
}
.banner-text-contentLinks .iconTwo{
	position: relative;
	font-size: 1.3em;
	top: 45px;
	right: 150px
}

.banner-text-contentLinks .link {
	margin-right: 8px;
	padding: 18px 4px;
	color: white;
	font-size: 1.25em;
}

/*ERP CLOUD*/

.erpCloud{
	display: flex;
	justify-content: center;
}

.erpCloud-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.erpCloud-text-title{
	font-size: 1.75em;
}

.erpCloud-text-list{
	list-style: none;
}

.erpCloud-text-list .item{
	margin: 0 0 20px;
}

.erpCloud-text-contentButtons{
	display: flex;
	justify-content: center;
}

.erpCloud-text-contentButtons span{
	font-size: 1.3em;
	margin-left:25px;
	position: relative;
	top: 3px;

}

.erpCloud-text-contentButtons .button{
	padding: 18px 30px;
	margin: 10px;
	border:1px solid #006699;
	color: #006699;
	background: transparent;
	min-width: 250px;
	}

.erpCloud-text-contentButtons .button:hover{
	border:1px solid black;
	color: black;
}


/* Customers */
.customers{
	margin: 50px 0;

}

.customers-title{
	text-align: center;
	font-size: 1.50em;
}

.customers-contentImage{
	display: flex;
	justify-content: space-around;
}

/*Cards*/

.contentCards{
	display: flex;
	margin: 50px 0;
	justify-content: space-between;
}

.card{
	display: flex;
	border: 1px solid #eee;
	width: 48%;
}

.card-img {
	height: 100%;
}

.card-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 50px;
}

.card-text-text{
	margin: 0 0 5px;
	font-size: 0.88em;
}

.card-text-link{
	font-size: 0.88em;
	text-decoration: none;
}


/* Planning */

.planning{
	background-color: #fafafa;
	padding: 60px 30px;
}


.planning-content{
	display: flex;
}

.planing-content-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.planning-content-text .list{
	list-style: none;
}

.planning-content-text .list-item{
	margin: 0 0 25px;
}

.planning-content-text .contentButtons{
	display: flex;
	justify-content: center;
}
.planning-content-text .contentButtons span{
	font-size: 1.3em;
	margin-left:25px;
	position: relative;
	top: 3px;


}

.planning-content-text .contentButtons-button{
	padding: 18px 30px;
	margin: 10px;
	border: 1px solid #006699;
	color: #006699;
	background: transparent;
	min-width: 250px;

}

.planning-content-text .contentButtons-button:hover{
	border: 1px solid black;
	color: black;
}


/*Footer*/

.footer{
	margin-bottom: 40px;

}

/*footer columns*/

.footer-contentCols{
	background-color: #fafafa;
	display: flex;
	justify-content: space-between;
}


.footer-contentCols-col{
	padding: 0 30px 50px;

}
.footer-contentCols-col{
	color: #1f4f82;
	margin-bottom: 30px;
}

.footer-contentCols-col .list{
	list-style: none;
	padding: 0;
	margin: 0;	
}
.footer-contentCols-col .list-item{
	margin: 0 0 15px;
	
}
.footer-contentCols-col .list-item-link{
	text-decoration: none;
	font-size: 0.88em;
}

/*Footer bottom*/

.footer-contentBottom{
	position: relative;
	
}
.footer-contentBottom-title{
		font-size: 1.25em;
		margin-bottom: 10px;
		font-weight: normal;
}
.footer-contentBottom-title span{
	color:#f80000;
	}

.footer-contentBottom-listLinks{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.69em;
		}

.footer-contentBottom-listLinks .item{
	display: inline-block;

	}

.footer-contentBottom-listLinks .item-link{
	text-decoration: none;
	color: black;

}

.footer-contentBottom-listSocial{
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.footer-contentBottom-listSocial .item{
	display: inline-block;
}

.footer-contentBottom-listSocial .item-link{
	text-decoration: none;
	padding: 10px;
}
.footer-contentBottom-listSocial .item-link span{
	font-size: 1.7em;
}
.footer-contentBottom-listSocial .item-link:hover span:before{
	color: red;
}

/*
http://fontawesome.io/icons/
https://icomoon.io/app/
*/

/*Sass es un preporcesador de SCC (LESS STYLUS)*/
